# Web
VITE_API_URL=http://localhost:3333

# API
NODE_ENV=development
PORT=3333
JWT_SECRET=change-me
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/finance_db?schema=public
SUPABASE_URL=https://your-project.supabase.co
SUPABASE_ANON_KEY=your-anon-key
SUPABASE_SERVICE_ROLE_KEY=your-service-role-key
WHATSAPP_BASE_URL=https://baileys-microservice.onrender.com/whatsapp
WHATSAPP_WEBHOOK_SECRET=change-me-too
REDIS_URL=redis://localhost:6379
